*{
    margin: 0%;
    padding: 0%;
}
.logo{
   display: inline-flex;
   padding-left: 74px;
   margin-top: 15px;
   gap: 10px;
   
}
.p{
    margin-top: px;
    font-size: 22px;
    line-height: 28px;
    text-align: start;
    color: #5f6368;
    font-family: "Google Sans", Roboto, Arial, sans-serif; 
    
}
.first{
    display: flex;
    color: #1a73e8;
    gap: 40px;
    font-family: "Google Sans", Roboto, Arial, sans-serif; 
    padding-left: 865px;
    margin-top: -10px;
    
    font-weight: normal;
    
    
    
    
   

}
.first h4{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
.first button{
    height: 100px;
    background-color:white;
    width: 100px;
    height: 48px;
    border-radius: 3px;
    font-size: 17px;
   
    color:rgb(26, 115, 232);
    border: 2px solid #e7e7e7;


    

}

.first button:hover{
    background-color:rgba(26, 115, 232, 0.15);
    transition: 1s;
    border-color:rgba(26, 115, 232,0.5);
    
}
.sec button{
    font-size: 16px;
    background-color: #1a73e8;
    color: white;
    border: none;
    width: 187px;
    height: 48px;
    border-radius: 3px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    margin-top: -10px;
    margin-left: 6px;
}
.sec button:hover{
    background-color: #174ea6;
    transition: 1s;
}
.navbar{
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 15px 10px -15px lightgray; 
    width: 100%;
    height: 60px;
     
    
}
.details{
    
    padding-top: 70px;
    padding-left: 737px;   
    overflow: hidden; 
    
}
.about{
    font-family: "Roboto",Arial,sans-serif;
    font-size: 76px;
    padding-left: 125px;
    margin-top: -510px;
    line-height: 77.8px;

    

}
.about h5{
    font-weight: 100;
}

.graph{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    font-size: medium;
    color: #5f6368;
    padding-left:125px;
    margin-top: 40px;
    line-height: 20px;
}
.sec2 button{
    font-size: 16px;
    background-color: #1a73e8;
    color: white;
    border: none;
    width: 187px;
    height: 48px;
    border-radius: 3px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    margin-top: 20px;
    margin-left:125px;
}
.sec2 button:hover{
    background-color: #174ea6;
    transition: 2s;
}
.dark{
    margin-top: -35px;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 352px;
    color: #1a73e8 ;
}
.next{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    font-size:18px ;
    line-height: 45px;
    text-align: start;
    letter-spacing: normal;
    margin-top: 450px;
    padding-left: 125px;
    
    
}
.a{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    
    line-height: 20px;
    padding-left:30px;
    margin-top: 40px;
    border-left: 4px solid #1a73e8;
    width: 800px;
    text-align: start;
    margin-left: 125px;
    border-radius:2px;
    border-color: lightgrey;


    


}

.a:hover{
    border-color: #1a73e8;
    transition: 2s;
}
.aa{
    color:#5f6368;
    font-size: 35px;
    line-height: 28px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    
    font-weight:lighter
    
}
.aa:hover{
    color: #1a73e8;
    transition: 2s;
    
}
.a p{
    margin-top: 10px;
    color:#5f6368 ;
}
.u{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
   
    line-height: 20px;
    padding-left:30px;
    margin-top: 40px;
    border-left: 4px solid #1a73e8;
    width: 800px;
    text-align: start;
    margin-left: 125px;
    border-radius:2px;
    border-color: lightgray;


}
.u:hover{
    border-color: #1a73e8;
    transition: 2s;
}
.u p{
    margin-top: 10px;
    color:#5f6368 ;

}
.f{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
   
    line-height: 20px;
    padding-left:30px;
    margin-top: 40px;
    border-left: 4px solid #1a73e8;
    width: 800px;
    text-align: start;
    margin-left: 125px;
    border-radius:2px;
    border-color: lightgray;

    
}
.f:hover{
    border-color: #1a73e8;
    transition: 2s;

}
.f p{
    margin-top: 10px;
    color:#5f6368 ;


}
.vv{
    padding-left: 750px;
    margin-top: -665px;
    overflow: hidden;

}
.img{
   margin-left: -47px;
   margin-top: 165px;
}
.next2{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    font-size:35px ;
    font-weight: 100;
    color: #3c4043;
    /* line-height: 45px; */
    text-align: start;
    letter-spacing: normal;
    margin-top: -540px;
    padding-left: 865px;
    

}
.ph{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    line-height: 20px;
    padding-left: 25px;
    margin-top: 52px;
    border-left: 4px solid #1a73e8;
    width: 500px;
    text-align: start;
    margin-left: 871px;
    border-radius:2px;
    border-color: lightgray;
    
   

}
.ph p{
    margin-top: 10px;
    color:#5f6368 ;

}
.ph:hover{
    border-color: #1a73e8;
    transition: 2s;
}
.ssss{
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    background-color: #f8f9fa;
    margin-top: 220px;
    display: flex;
    gap: 30px;
    height: 400px;

    
    

    /* line-height: 25px; */
    
}
.row{
   
    padding-left: 170px;
    margin-top: 118px;
    line-height: 25px;
    
    
    
}
.row p{
    color:#5f6368 ;
    margin-top: 20px;
}
.date{
   text-align: center;
   margin-top: 100px;
 
   
}
.to{
    margin-bottom: 10px;
       
}
.nam{
    text-align: center;
    font-size: 27px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    margin-top: 32px;
}
.nam2{
    font-size: 30px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    margin-top: 24px;
    text-align: center;
    color:#5f6368 ;
    font-weight: lighter;
    line-height: 35px;

}
.nam3{
    text-align: center;
    color:#5f6368  ;
    line-height: 28px;
    font-size: 19px;
    margin-top: 30px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    

}
.butte{
    text-align: center;
    margin-top: 30px;
}

.butte button{
    font-size: 18px;
    color: #1a73e8;
    background-color:white;
    width: 100px;
    height: 48px;
    border-radius: 3px;
    font-weight:501;
    /* color:rgb(26, 115, 232); */
    border: 2px solid white;
}
.butte button:hover{
    background-color: #dae6ea;
    transition: 1s;
}
.wi{
    background-color: #f8f9fa;
    margin-top: 115px;
    width: 100%;
    height: 592px;


}
.wi1{
    font-size: 20px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    padding-left: 135px;
    padding-top: 100px;
    line-height: 50px;
    

}
.ward{
    padding-top: 15px;
    margin-left: 121px;
    margin-top: 55px;
    border-radius: 5px;
    background-color: white;
    width: 387px;
    height: 210px;
    padding-left: 12px;
    line-height: 25px;
    /* border-color:#5f6368;; */
    border-radius: 3px;
    border: 1px solid lightgray ;
    
   
}

.ward button{
    font-size: 15px;
    background-color:white;
    color: #1a73e8;
    width: 133px;
    height: 48px;
    border-radius: 3px;
    border-color: white;
    border: 2px solid #e7e7e7;
    margin-left: 10px;
    margin-top: 30px;
   
   



}

#p1{
    font-family:"Google Sans", Arial, sans-serif  ;
    font-size: 18px;
    margin: 10px;
    font-weight: 500;
    /* margin-top: 30px; */

    
}
#p2{
    font-family:"Google Sans", Arial, sans-serif  ;
    font-size: 17px;
    margin: 10px;
    color: #5f6368;
    margin-top: 14px;
    
    
}
.aboutu{
    font-family:"Google Sans", Arial, sans-serif  ;
    display: flex;
    font-size: 18px;
    gap: 140px;
    margin-top: -349px;
    margin-left: 661px;

}
hr{
    width: 713px;
  
   
}
.liii{
    padding-left: 659px;
    margin-top: 25px;

}
.boaa{
    font-family:"Google Sans", Arial, sans-serif  ;
    display: flex;
    font-size: 18px;
    gap: 454px;
    margin-top: 40px;
    margin-left: 661px;

}
.boaad{
    font-family:"Google Sans", Arial, sans-serif  ;
    display: flex;
    font-size: 18px;
    gap: 250px;
    margin-top: 40px;
    margin-left: 661px;



}
.bod{
    font-family:"Google Sans", Arial, sans-serif  ;
    display: flex;
    font-size: 18px;
    gap: 274px;
    margin-top: 40px;
    margin-left: 661px;



}
.last{
    text-align: center;
    margin-top: 125px;
}
.last1{
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    font-family: "Google Sans", Arial, sans-serif ;
    margin-top: 30px;


}
.last2{
    text-align: center;
    font-size: 30px;
    color:#5f6368 ;
    font-weight: 300;
    font-family: "Google Sans", Arial, sans-serif ;
    margin-top: 10px;

}
.grss button{
    font-size: 17px;
    background-color: #1a73e8;
    color: white;
    border: none;
    width: 187px;
    height: 48px;
    border-radius: 3px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    margin-top: 33px;
    margin-left: 650px;
    

}
.grss button:hover{
    background-color: #174ea6;
}
.ending{
    text-align: center;
    padding-right: 30px;
    margin-top: 40px;
    font-size: 17px;
    color: #1a73e8;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    
}
.ending:hover{
    color: #174ea6;
}
.lastimg{  
   overflow: hidden;

}
.google{
    height: 96px;
    background-color:#f8f9fa ;
}
.gg{
    display: flex;
    font-size: 13px;
    font-family:"Google Sans", Roboto, Arial, sans-serif ;
    color: #5f6368;
    gap: 5px;
    padding-left: 80px;
    padding-top: 40px;

}
.gg p{
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 13px;

}
.gg2 {
    padding-left: 450px;
    display: flex;
    
}
.fixed{
    display: flex;
    margin-left: -20px;
    
    margin-top: 5px;

   
}
#go{
    margin-top: -7px;
}
.fixed h6{
    font-size: 13px;
    margin-left:30px;
    margin-top: -1px;
    padding-left: 10px;

}
.arow{
    padding-left: 180px;
}

